.frame {
  margin: auto;
  width: 300px;
  height: 450px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  font-size: 28px;
}

.autput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

input[type="text" i] {
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
  width: 90%;
}

input[type="button"] {
  font-size: 24px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #f8f8f8;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: background 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="button"]:focus {
  background: #ccc;
}

input[type="button"].zero {
  width: 130px;
}

input[type="button"].plus,
input[type="button"].minus,
input[type="button"].dot,
input[type="button"].divide,
input[type="button"].equals {
  background: linear-gradient(to bottom, rgba(252, 156, 23, 1) 0%, rgba(247, 126, 27, 1) 100%);
}
